{% extends 'base.html' %}

{% block content %}


  {% include 'components/notification.html' %}

  <form action="{{ url_for('download.download_image') }}" method="POST" enctype="multipart/form-data">
   
    <div class="form-group mb-3">
  	 <input class="form-control form-control-sm" id="formFileSm" type="file" name="image_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>	

    <div class="mb-3">
      <label>Campo de URL</label>
      <input type="text" name="image_url" class="form-control">
    </div>
    
    <div class="mb-3">
      <label>Campo Nome da Imagem</label>
      <input type="text" name="image_name" class="form-control">
    </div>

    <button type="submit" class="btn btn-success btn-block btn-lg">Baixar</button>

   </form>

   <style>
      form {
          margin-top: 50px;
      }
      #formFileSm {
        height: 35px;
      }
   </style>
{% endblock %}

